<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id='app'>
        <div>
            <span>姓</span>
            <input type="text" v-model='firstname'>
        </div>
        <div>
            <span>名</span>
            <input type="text" v-model='lastname'>
        </div>
        <div> <span>姓名</span>
            <span>{{fullname}}</span>
        </div>

    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                firstname: 'jim',
                lastname: 'lucky',
                //fullname: 'jim lucky'
            },

            computed: {
                fullname: function() {
                    return this.firstname + this.lastname
                }
            }

            //侦听器
            // watch: {
            //     firstname: function(val) {
            //         this.fullname = val + this.lastname
            //     },
            //     lastname: function(val) {
            //         this.fullname = this.firstname + val
            //     }
            // }
        })
    </script>

</body>

</html>